{% extends 'layouts/base.html' %}

{% block body %}
<br><br>
<center>
    <h1>Welcome to datafest #2022</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</center>
<br><br>
<div class="container main-container">
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="myChart1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="canvas"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="canvas2"></canvas>
    </div>
</div>
{% endblock %}
